* {
    font-family: 'Roboto', sans-serif;
    /* outline: 2px solid red; */
}

body {
    padding: 0;
    margin: 0;
    height: 1912px;
}

h1 {
    margin: 0;
    font-size: larger;
}   

button {
    width: 150px;
    height: 48px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.outline {
    outline: 2px solid white;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
}

.section {
    height: 478px;

}

.section-aligned {
    margin:20px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.header-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.white-text {
    color: #F9FAF8;
}

.header {
    font-size: 30px;
    font-weight: bolder;
}

.section#dark {
    background-color: #1F2937;
}

.one {
    margin-top: 80px;
    margin-bottom: 100px;
}

.one .column {
    width: 600px;
}

.one .column .white-text{
    width: 400px;
    font-size: 48px;
    margin-bottom: 5px;
}

.one .column h1 {
    color: white;
    font-size: 50px;
}

.one .column p {
    color: white;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
}

.link-holder {
    display: flex;
    gap: 40px;
}

.link.white-text {
    font-size: 20px;
}

.placeholder {
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    width: 650px;
    background-color: gray;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.box {
    height: 160px;
    width: 160px;
    outline: 5px solid #3882F6;
    border-radius: 10px;
}

.two {
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.two h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}

.box-container p {
    text-align: center;
    font-weight: 100;
}

.row.information {
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    padding: 20px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 100px;
}

.quote {
    font-size: 32px;
    font-weight: 5;
    font-style: italic;
}

.quoter {
    font-size: 24px;
    font-weight: bolder;
    margin-left: auto;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.four .row {
    color:#E5E7EB;
    background-color: #3882F6;
    align-items: center;
    padding: 50px
}

.four h2, .four p {
    margin: 0;
}

.four .column {
    margin-left: 20px;
}

.four button {
    margin-left: auto;
    margin-right: 80px;
}